body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.delete {
  background-image: url('images/delete.svg');
  height: 20px;
  width: 20px;
  float: right;
  position: relative;
  top: 25px;
}

.delete:hover {
  background-image: url('images/delete-hover.svg')
}

.upvote {
  background-image: url('images/upvote.svg');
  height: 20px;
  width: 20px;
}

.downvote {
  background-image: url('images/downvote.svg');
  height: 20px;
  margin-left: 10px;
  width: 20px;
}

.upvote:hover {
  background-image: url('images/upvote-hover.svg')
}

.downvote:hover {
  background-image: url('images/downvote-hover.svg')
}

h4 {
  margin-left: 10px;
}

#save {
  background-color: #00a79d;
  border: none;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  width: 60%;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 10px;
}

#save:hover:enabled {
  background-color: #045E55;

}

#input-container {
  background-color: #e5f3f2;
  padding-bottom: 20px;
}

#input-container {
  font-family: 'Roboto Slab', serif;
}

#box-text {
  color: #6d6e71;
}
h3 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #939598;
}

h1 {
  color: #00a79d;
  margin: 0;
  padding: 20px;
}

h2 {
  width: 75%;
  text-align: left;
  color: #6d6e71;
  font-weight: 700;
}

h4 {
  font-family: 'Roboto Slab', serif;
  color: #6d6e71;

}

span {
  color: #6d6e71;
  font-family: 'Open Sans', sans-serif;
  /*margin-left: 5px;*/

}

#title, #body, #search-input {
font-family: 'Open Sans', sans-serif;
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
display: inline-block;
width: 60%;
box-sizing: border-box;
border: 1px solid #939598;
}

#search-container {
  padding-top: 15px;
}

.quality-container{
  float: left;
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
}



.buttons {
  display: inline-block;
}

#card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 60%;
  border-bottom: 2px solid #d1d3d4;
}

@media screen and (max-width: 480px) {


#body {
  height: 65px;
  vertical-align: top;
}

#body::-webkit-input-placeholder {
  vertical-align: top;
}

#title, #body, #search-input, .card, #save {
  width: 90%;
}
